#main
  padding-top: 55px
#main .mainLinks
  width: 270px
  height: 410px
  ul
    list-style: none
    padding-left: 0px
    margin-bottom: 0px
  .mainLinksItem
    width: 100%
    height: 80px
    background: #FFFFFF
    box-shadow: 1px 1px 6px rgba(215, 225, 235, 0.18)
    border-radius: 15px
    margin-bottom: 30px
    .mainLinksItemLink
      position: relative
      text-decoration: none
      width: 100%
      height: 100%
      display: flex
      align-items: center
      img
        margin-left: 20px
      .mainLinksItemName
        margin-left: 20px
        margin-bottom: 0
        display: flex
        align-items: center
      p
        font-family: PT Sans
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 100%
        color: #000000

#main .mainBanner
  width: 570px
  margin: 0px 30px
#main .mainBanner .mainBannerItem
  width: 570px
  height: 290px
  background: linear-gradient(256.65deg, #C3EBFF 6.26%, rgba(130, 210, 245, 0.2) 52.65%)
  box-shadow: 0px 20px 25px rgba(215, 225, 235, 0.15), 0px 15px 20px rgba(215, 225, 235, 0.1), 0px 10px 15px rgba(215, 225, 235, 0.07), 0px 5px 5px rgba(215, 225, 235, 0.05)
  border-radius: 15px
#main .mainBanner .mainBannerItem .mainBannerItemImg
  position: relative

#main .mainBanner .mainBannerItem .mainBannerItemImg img
  position: absolute
  bottom: -35px
  left: -45px
  width: 290px
  height: 100%
  padding: 35px
#main .mainBanner .mainBannerItem .mainBannerItemTxt
  text-align: right
  width: 360px
  position: absolute
  top: 53px
  right: 78px
#main .mainBanner .mainBannerItem .mainBannerItemTxt h2
  font-family: "ProximaNova"
  font-weight: bold
  font-size: 34px
  color: #73879B
  margin-bottom: 15px
#main .mainBanner .mainBannerItem .mainBannerItemTxt p
  font-family: "ProximaNova"
  font-weight: 600
  font-size: 18px
  text-align: left
  width: 180px
  margin: 0px auto
  margin-right: -3px
  margin-bottom: 26px
#main .mainBanner .mainBannerItem .mainBannerItemTxt a
  font-size: 12px
  line-height: 150%
  text-align: right
  color: #73879B
  text-decoration: none
  display: flex
  justify-content: flex-end
#main .mainBanner .mainBannerItem .mainBannerItemTxt a strong
  font-weight: 400
  border-bottom: 1px solid #73879B
#main .mainBanner .mainBannerItem .mainBannerItemTxt a img
  max-width: 20px
  margin-left: 10px

#main .mainAuthForm
  width: 270px
  height: 410px
  background: white
  box-shadow: 1px 1px 6px rgba(215, 225, 235, 0.18)
  border-radius: 15px
  display: flex
  align-items: center
  justify-content: center
  .mainAuthFormContainer
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    width: 50%
    height: 241px
    text-align: center
    img
      margin-bottom: 23px
      margin-top: 4px
    p
      margin-bottom: 10px
    .mainAuthFormButton
      background: #82D2F5
      border-radius: 6px
      width: 135px
      height: 35px
      color: white
      display: flex
      align-items: center
      justify-content: center
      font-family: Proxima Nova
      font-style: normal
      font-weight: 600
      font-size: 18px
      line-height: 150%
      margin-top: 5px

#main .mainBanner .thumb
  background: white
  width: 100%
  height: 120px

#main .mainGraphics
  margin-top: 30px
  display: flex
  align-items: center
  .mainGraphicsItem
    height: 215px
    width: 370px
    background: #fff
    box-shadow: 1px 1px 6px rgba(215, 225, 235, 0.18)
    border-radius: 15px
    &:nth-child(2)
      margin: 0 30px
    .mainGraphicsItemTitle
      width: 100%
      margin-top: 20px
      text-align: center
      font-family: Proxima Nova
      font-style: normal
      font-weight: 600
      font-size: 18px
      line-height: 150%
      color: #28323C
    .mainGraphicsItemData
      height: 93px
      width: 180px
      border: 1px solid #33333325
      margin: 5px auto
    .mainGraphicsItemBtn
      width: 190px
      height: 35px
      margin: 0 auto
      background: #9182F0
      border-radius: 6px
      font-family: Proxima Nova
      font-style: normal
      font-weight: 600
      font-size: 18px
      line-height: 150%
      text-align: center
      color: #F9F9F9
      display: flex
      align-items: center
      justify-content: center

  // #main .mainBanner .mainGraphics
//   margin-top: 80px
// #main .mainBanner .mainGraphics .mainGraphicsItem
//   background: #FFFFFF
//   box-shadow: 0px 20px 25px rgba(215, 225, 235, 0.15), 0px 15px 20px rgba(215, 225, 235, 0.1), 0px 10px 15px rgba(215, 225, 235, 0.07), 0px 5px 5px rgba(215, 225, 235, 0.05)
//   border-radius: 15px
//   padding: 25px
//   width: 400px
//   height: 273px
// #main .mainBanner .mainGraphics .mainGraphicsItem h3
//   font-family: "ProximaNova"
//   font-style: normal
//   font-weight: 600
//   font-size: 18px
// #main .mainBanner .mainGraphics .mainGraphicsItem .mainGraphicsItemName
//   list-style: none
//   padding-left: 0px
//   margin-bottom: 0px
//   display: flex
//   justify-content: flex-end
// #main .mainBanner .mainGraphics .mainGraphicsItem .mainGraphicsItemName li
//   margin: 0px 5px
// #main .mainBanner .mainGraphics .mainGraphicsItem .mainGraphicsItemName li .mainGraphicsItemPoint
//   display: block
//   width: 4px
//   height: 4px
//   margin: 0px 4px
//   margin-top: 10px
//   margin-right: 5px
// #main .mainBanner .mainGraphics .mainGraphicsSoldInAMonth
//   margin-right: 30px

.owl-carousel .owl-stage-outer
  z-index: -1
.owl-theme .owl-nav.disabled+.owl-dots
  text-align: right
  margin-top: -55px !important
  margin-right: 60px
  z-index: 16
.owl-theme .owl-dots .owl-dot span
  background: #28323C !important
  border-radius: 3px !important
.owl-theme .owl-dots .owl-dot.active span
  background: #73879B !important

@media (max-width: 1200px)
  #main .mainBanner
    width: 608px
  #main .mainBanner .mainBannerItem
    width: 608px
  #main .mainBanner .mainBannerItem .mainBannerItemTxt
    width: 230px

@media (max-width: 992px)
  #main .mainLinks
    display: none
  #main .mainBanner
    width: 690px
  #main .mainBanner .mainBannerItem
    width: 690px
  #main .mainBanner .mainBannerItem .mainBannerItemTxt
    width: 303px
  #main .mainBanner .mainGraphics .mainGraphicsItem
    width: 330px

@media (max-width: 768px)
  #main .mainBanner
    width: 510px
  #main .mainBanner .mainBannerItem
    width: 510px
    height: 220px
  #main .mainBanner .mainBannerItem .mainBannerItemImg img
    max-width: 200px
    margin-top: 19px
  #main .mainBanner .mainBannerItem .mainBannerItemTxt
    width: 243px
  #main .mainBanner .mainBannerItem .mainBannerItemTxt h2
    font-size: 24px
    margin-top: 35px
    margin-bottom: 0px
  #main .mainBanner .mainBannerItem .mainBannerItemTxt p
    font-size: 12px
    text-align: right
    width: 115px
    margin-bottom: 8px
  #main .mainBanner .mainGraphics .mainGraphicsItem
    width: 240px

@media (max-width: 576px)
  #main .mainBanner
    width: 355px
  #main .mainBanner .mainBannerItem
    width: 355px
    height: 140px
    position: relative
  #main .mainBanner .mainGraphics
    margin-top: 55px
  #main .mainBanner .mainGraphics .mainGraphicsItem
    width: 355px
  #main .mainBanner .mainGraphics .mainGraphicsSoldInAMonth
    margin-right: 0px
    margin-bottom: 25px
