#popular
  margin: 35px 0
  h2
    font-family: "ProximaNova"
    font-weight: 600
    font-size: 24px
    color: #28323C
    margin-bottom: 5px
    a
      span
        font-family: "ProximaNova"
        font-weight: 600
        font-size: 24px
        color: #807575
        text-decoration: none
        margin-right: 12px

.productItems
  margin: 8px -15px
  display: flex
  flex-wrap: wrap

  .productItem
    margin: 15px
    width: 270px
    height: 388px
    background: #FFFFFF
    box-shadow: 0px 20px 25px rgba(215, 225, 235, 0.15), 0px 15px 20px rgba(215, 225, 235, 0.1), 0px 10px 15px rgba(215, 225, 235, 0.07), 0px 5px 5px rgba(215, 225, 235, 0.05)
    border-radius: 15px
    padding: 20px 20px 30px 20px
    text-align: left
    color: #28323C
    .productItemImgContainer
      width: 100%
      position: relative
      height: 50%
      img
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        padding: 16px
        width: 100%
        height: 100%
    .productItemTitle
      margin-top: 18px
      height: 50px
      margin-bottom: 2px
      font-family: PT Sans
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 150%
    .productItemRate
      display: flex
      align-items: center
      justify-content: space-between
      width: 107px
      .productItemRateStars
        width: 80px
        span
          padding: 0
          font-size: 20px
          line-height: 1
          color: #D7E1EB
          margin: 0 2px
          &:before
            content: url('../../public/img/star.svg')
        .productItemRateStarsActive
          color: gold
      .productItemRateDec
        margin: 2px 0 0 0
        background: white
        font-family: Roboto
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 100%
    .productItemAuc
      display: flex
      align-items: center
      margin-top: 5px
      p
        margin: 0 0 0 10px
        font-family: PT Sans
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 150%
        color: #A5B4C3
    .productItemPrice
      margin-top: 10px
      width: 100%
      position: relative
      p
        margin-bottom: 5px

  .productItem
    position: relative
    .productItemFavoritesIcon,
    .productItemCompareIcon,
    .productItemCartIcon
      position: absolute
      right: 21px
    .productItemFavoritesIcon
      top: 19px
    .productItemCompareIcon
      top: 61px
    .productItemCartIcon
      bottom: 33px

@media (max-width: 1200px)
  .productItems
    .productItem
      width: 293px
      height: 436px
      a
        img
          max-width: 208px
      .productItemPrice
        margin: 0
        margin-top: 19px
      .productItemBuyBlock
        top: 275px
        width: 285px
        h4
          padding-left: 30px
        ul
          li
            text-align: center
            justify-content: center
            margin-left: 11px
            a
              display: contents
            img
              margin-right: 2px

@media (max-width: 991px)
  #popular
    margin-top: 30px
    .productItems
      margin: 8px -5px
      .productItem
        width: 224px
        height: 341px
        margin: 6px
        padding: 15px
        .productItemImgContainer
          height: 37%
          width: 96%
        .productItemTitle
          overflow: hidden
        .productItemPrice 
          margin-right: 15px
          p
            font-size: 12px
            margin-bottom: 15px
        .productItemFavoritesIcon,
        .productItemCompareIcon,
        .productItemCartIcon
          right: 15px
  // #popular
  //   padding: 0px 30px
  // .productItems .productItem
  //   width: 307px
  //   margin: auto
  //   margin-bottom: 30px
  // .productItems .productItemMoreContent
  //   display: none
  // .productItems .productItem .productItemBuyBlock
  //   width: 307px
  //   h4
  //     padding-left: 20px

@media (max-width: 767px)

  .productItems .productItem
//     text-align: center
//     width: 213px
//     height: 350px
//     padding: 20px
//   .productItems .productItem a img
//     margin: 23px 10px
//     max-width: 122px
//   .productItems .productItem a h3
//     text-align: left
//     font-size: 14px
//     font-weight: 400
//   .productItems .productItem .productItemPrice img
//     margin: 0
//   .productItems .productItem .productItemPrice .productItemPriceCryptocurrency
//     margin-top: 3px
//   .productItems .productItem .productItemPrice .productItemPriceCryptocurrency p
//     font-size: 18px
//     font-weight: 700
//     margin-top: 2px
//     margin-bottom: 0px
//   .productItems .productItem .productItemPrice .productItemPriceCurrency p
//     font-size: 18px
//     font-weight: 700
//     margin-top: 2px
//     margin-bottom: 0px
//   .productItems .productItem .productItemBuyBlock
//     display: none

// @media (max-width: 576px)
//   #popular
//     padding: 0px
//     margin-top: 15px
//   #popular h2
//     font-size: 18px
//     margin-bottom: 15px
//   #popular h2 a
//     font-size: 18px
//   #popular h2 a img
//     max-width: 12px
//   .productItems .productItem
//     text-align: center
//     width: 165px
//     height: 244px
//     padding: 8px
//     margin-bottom: 15px
//   .productItems .productItem a img
//     margin: 7px 10px
//     max-width: 113px
//   .productItems .productItem .productItemCatalogBut
//     text-align: left
//     margin-top: 4px
//   .productItems .productItem .productItemPrice .productItemPriceCurrency img
//     margin-top: 3px
//     height: 14px
//   .productItems .productItem .productItemPrice .productItemPriceCurrency p
//     font-size: 10px
//   .productItems .productItem .productItemPrice .productItemPriceCryptocurrency img
//     margin-top: 3px
//     height: 14px
//   .productItems .productItem .productItemPrice .productItemPriceCryptocurrency p
//     font-size: 10px
//   .productItems .productItem .productItemPrice
//     margin-top: 37px
