#header
	background-color: #323C46
#header .headerLogo
	padding: 19px 0px
	width: 20%
#header .headerLogo img
	width: 94px
#header .headerCurrency1
	width: 20%
#header .headerCurrency1 .flex
	justify-content: center
#header .headerCurrency1 p
	text-align: center
#header .headerCurrency2
	width: 41%
#header .headerCurrency2 .flex
	justify-content: left
#header .headerCurrency2 p
	text-align: left
	margin-left: 25px
#header .headerCurrency
	color: #F6F7FB
	padding: 17px 0px
#header .headerCurrency .flex img
	display: block
	max-height: 18px
	margin-right: 5px
	margin-top: 4px
#header .headerCurrency .flex p
	margin-left: 0px
	margin-bottom: 0px
	font-size: 16px
#header .headerCurrency p
	font-size: 12px
	margin-bottom: 0px
#header .headerCurrency p strong
	color: #3CC8B4
#header .header-menu
	color: #F6F7FB
	padding: 13px 0px
#header .headerMenu ul
	list-style: none
	padding-left: 0px
	margin: 13px 0px
#header .headerMenu ul li
	text-align: center
	margin-left: 40px !important
	margin: auto 0px
#header .headerMenu ul li .headerMenuLogIn
	display: flex
	background-color: #F9F9F9
	border-radius: 8px
	padding: 7px 20px 6px
	color: #323C46
#header .headerMenu ul li .headerMenuLogIn img
	margin-right: 5px
#header .headerMenu ul li a
	text-decoration: none
	color: #F6F7FB
#header .headerMenu ul li a p
	margin-bottom: 0px

@media (max-width: 992px)
	#header .headerCurrency2
		width: 29%
	#header .headerMenu ul
		margin: 19px 0px
	#header .headerMenu ul li a p
		display: none
	#header .headerMenu ul li .headerMenuLogIn p
		display: block

@media (max-width: 768px)
	#header .headerLogo img
		max-height: 36px
	#header .headerCurrency1
		width: 31%
	#header .headerMenu ul
		margin: 24px 0
	#header .headerMenu ul li
		text-align: center
		margin-left: 20px !important
	#header .headerMenu ul li .headerMenuLogIn
		padding: 5px 10px
	#header .headerMenu ul li .headerMenuLogIn img
		margin-right: 0px
	#header .headerMenu ul li .headerMenuLogIn p
		display: none
